* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Default Notion Font", -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: white;
    color: black;
    min-height: 100vh;
    display: flex;
    padding: 3rem 2rem;
    padding-top: 0;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 400;
    margin-bottom: 0.6rem;
    color: #494741; 
    font-size: 14px;
    letter-spacing: 0.2px;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    color: #373530;
    margin-top: 0.6em;
    margin-bottom: 1.4rem;
}

.links {
    list-style-type: disc;
    padding-inline-start: 1.2em;
    color: #373531;
    margin-top: 0.8rem;
}

.links li {
    margin-bottom: 0.9rem;
}

.links a {
    color: #373530;
    font-size: 14px;
    font-weight: 500;
    word-break: break-word;
    text-decoration: inherit;
    border-bottom: .05em solid;
    border-color: #37352f66;
    opacity: .7;
    transition: border-color .1s ease-in, opacity .1s ease-in;
    line-height: 1.5;
    padding-bottom: 1px;
}

.links a:hover {
    opacity: 1;
    border-color: #373530;

}.links li::marker {
    color: #605d56;
}

@media (max-width: 768px) {
    h1 {
        font-size: 16px;
    }
    
    .links a {
        font-size: 14px;
    }
}
