* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    background: white;
    color: black;
    min-height: 100vh;
    display: flex;
    padding: 2rem;
}



h1 {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: black;

}

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}


@media (max-width: 768px) {
    h1 {
        font-size: 1rem;
    }
    
    .links a {
        font-size: 1rem;
    }
}